
<%= @book.title %>&nbsp;
<%= @book.author %>&nbsp;
<%= @book.genre %>

<br>
<% if current_user == @book.user %>
<br>
<form method="get" action="/books/<%= @book.id %>/edit">
    <button type="submit">Edit This Book</button>
</form>
<br><br>
<form action="/books/<%= @book.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This Book">
</form>
<% end %>